<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="quartz" type="System.Configuration.NameValueFileSectionHandler" />
    </configSections>
    <quartz>
        <add key="quartz.plugin.recentHistory.type" value="Quartzmon.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartzmon.Plugins.RecentHistory" />
        <add key="quartz.plugin.recentHistory.storeType" value="Quartzmon.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartzmon.Plugins.RecentHistory" />
    </quartz>
</configuration>
