quartz.plugin.recentHistory.type = Quartzmon.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartzmon.Plugins.RecentHistory
quartz.plugin.recentHistory.storeType = Quartzmon.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartzmon.Plugins.RecentHistory
quartz.scheduler.instanceName = foo
